<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="2" >
	<test name="Test1" >
		<classes>
			<class name="com.parallelexecution.parallelexedemo1" />
			<class name="com.parallelexecution.paralleexceutiondemo2" />
			<class name="com.parallelexecution.parallelexecutiondemo3" />
		</classes>
	</test>
	<test name="Test2" >
		<classes>
			<class name="com.parallelexecution.paralleexceutiondemo4" />
		</classes>
	</test>
	
	<!--   <test  name="Test2">
    <classes>
      <class name="com.parallelexecution.paralleexceutiondemo2"/>
    </classes>
  </test> 
   <test  name="Test3">
    <classes>
      <class name="com.parallelexecution.parallelexecutiondemo3"/>
    </classes>
  </test> -->
</suite> 